.layerPopup{border: 1px solid #666; position: absolute; top: 0; left: 0; z-index: 90; background-color: #fff}
.layerPopup .layerTit{padding: 20px 10px; color: #ffffff; text-align: center; background-color: #666}
.layerPopup .layerTit .tit{font-size: 20px; font-weight :bold}
.layerPopup .layerTxt{padding: 10px; border-bottom: 1px solid #aeaeae; text-align: center}
.layerPopup .layerClose{line-height: 30px; padding: 7px 10px; color: #ffffff; font-size: 13px; background-color: #666}
.layerPopup .layerClose:after{content: ''; display: block; clear: both}
.layerPopup .layerClose a{float: right; color: #ffffff}
.layerPopup .layerClose label{cursor: pointer}
@media screen and (max-width:991px) {
	.layerPopup{display: none !important}
}