/* 본문바로가기 */
.skip_box{width: 100%;position: fixed; top: 0; z-index: 99999999;}
.skip_box a{height: 35px; line-height: 35px; padding: 0 5px; display: block; position: absolute; top: -35px; color: #ffffff; font-size: 14px; text-align: center; background-color: #1d79c0}
.skip_box a:focus{top: 0px}
/* 헤더 */
#header{position: relative; z-index: 100; background: #ffffff}
#header .header_bg{width: 100%; height: 100%; display: none; position: fixed; z-index: 10000; top: 0; left: 0; background: rgba(0,0,0,.7)}
#header .gnb_box{max-width: 1050px; height: 120px; line-height: 120px; margin: 0 auto; position: relative; z-index: 9999}
#header .gnb_box:after{content: ''; display: block; clear: both}
#header .gnb_box h1{max-width: 400px; position: absolute; top: 50%; left: 0; transform: translate(0, -50%)}
#header .gnb_box h1 img{vertical-align: middle}
#header .gnb_box .gnb{float: right}
#header .gnb_box .gnb a{height: 100%; margin-left: 30px; font-size: 17px; font-weight: 700; font-family: 'NanumSquare', '나눔스퀘어'}
#header .gnb_box .gnb a:first-child{margin-left: 0}
#header .gnb_box .gnb a:hover{text-decoration: underline}
#header .navi{border-top: 1px solid #D9D9D9; border-bottom: 1px solid #d9d9d9; clear: both}
#header .navi>ul{max-width: 1050px; width: 100%; margin: 0 auto; display: table; table-layout: fixed}
#header .navi>ul>li{display: table-cell; vertical-align: middle; position: relative}
#header .navi>ul>li>a{height: 60px; line-height: 60px; display: block; position: relative; font-size: 18px; font-weight: 700; font-family: 'NanumSquare', '나눔스퀘어'; text-align: center; letter-spacing: -1px}
#header .navi>ul>li.on >ul{display: block}
#header .navi>ul>li.on >a:before{content: ''; width: 100px; border-top: 4px solid #2578bb; display: block; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0)}
#header .navi>ul>li.no_depth.on >a:before{display: none}

#header .navi>ul>li>ul{width: 130%; padding: 10px; padding-left: 30px; border: 1px solid #2578BB; display: none; position: absolute; top: 60px; background: #ffffff}
#header .navi>ul>li>ul>li>a{padding: 10px; padding-left: 10px; display: block; position: relative; font-size: 15px; letter-spacing: -1px; word-break: keep-all}
#header .navi>ul>li>ul>li>a.on{color: #e52125}
#header .navi>ul>li>ul>li>a.on:before{content: ''; width: 4px; height: 4px; display: block; position: absolute; top: 50%; left: 0; background: #E52125; transform: translate(0, -50%)}
@media screen and (min-width:992px) {
	#header .gnb_box .gnb,
	#header .navi{display: block !important}
	#header .header_bg{display: none !important}
	
	#header .navi>ul>li:hover >ul{display: block}
	#header .navi>ul>li:hover >a:before{content: ''; width: 100px; border-top: 4px solid #2578bb; display: block; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0)}
	#header .navi>ul>li.no_depth:hover >a:before{display: none}
	#header .navi>ul>li>ul>li>a:hover{color: #e52125}
	#header .navi>ul>li>ul>li>a:hover:before{content: ''; width: 4px; height: 4px; display: block; position: absolute; top: 50%; left: 0; background: #E52125; transform: translate(0, -50%)}
}
@media screen and (max-width:1050px) {
	#header .gnb_box{padding: 0 20px}
	#header .gnb_box h1{left: 20px}
}
@media screen and (max-width:991px) {
	#header .gnb_box{height: 90px; margin-top: 40px; line-height: 1.6em}
	#header .gnb_box h1{max-width: 200px}
	#header .gnb_box .gnb{width: 100%; height: 40px; line-height: 40px; padding: 0 20px; position: absolute; top: -40px; left: 0; text-align: right; background: #1b1b1b}
	#header .gnb_box .gnb a{margin-left: 10px; color: #ffffff; font-size: 14px; font-weight: 200}
	#header .navi{width: 200px; height: 100%; display: none; overflow-y: scroll; position: fixed; z-index: 10001; top: 0; right: 0; background: #2578bb}
	#header .navi>ul>li{height: auto; border-bottom: 1px solid #438cc3; display: block;}
	#header .navi>ul>li>a{height: auto; padding: 20px; color: #ffffff; line-height: 1.6em}
	#header .navi>ul>li>ul{border: 0; position: relative; top: 0}
}
/* 모바일 내비 아이콘 */
#header .m_navi_icon{display: none; position: absolute; z-index: 10000; top: 36px; right: 20px; cursor: pointer}
#header .m_navi_icon span{width: 30px; height: 5px; margin-bottom: 4px; display: block; background: #2578BB}
#header .m_navi_icon span:last-child{margin-bottom: 0}
@media screen and (max-width:991px) {
	#header .m_navi_icon{display: block}
}

/* 푸터 */
#footer{border-top: 1px solid #d9d9d9}
#footer .footer_top{background: #3C3C3C}
#footer .footer_top ul{max-width: 1050px; margin: 0 auto; position: relative}
#footer .footer_top ul:after{content: ''; display: block; clear: both}
#footer .footer_top ul li{height: 50px; line-height: 50px; margin-left: 20px; float: left}
#footer .footer_top ul li:first-child{margin-left: 0}
#footer .footer_top ul li a{display: block; color: #ffffff; font-size: 14px}
#footer .footer_top ul li.btn_top{width: 96px; height: 100%; position: absolute; right: 0; text-align: center; background: #2578BB;}
#footer .footer_top ul li.btn_top i, #footer .footer_top ul li.btn_top svg{vertical-align: middle; font-size: 18px}
#footer .footer_bottom{max-width: 1050px; width: 100%; padding: 30px 0; margin: 0 auto; display: table}
#footer .footer_bottom h1{display: table-cell; vertical-align: top}
#footer .footer_bottom .footer_info{width: 570px; padding-left: 30px; display: table-cell; vertical-align: top; color: #666666; font-size: 14px; line-height: 1.6em; letter-spacing: -1px; word-break: keep-all}
#footer .footer_bottom .footer_info .bar{height: 10px; margin: 0 5px; border-right: 1px solid #cecece}
#footer .footer_bottom .footer_family{width: 280px; padding-left: 40px; display: table-cell; vertical-align: top; position: relative}
#footer .footer_bottom .footer_family .tit{padding: 10px; border: 1px solid #2578bb; position: relative; color: #2578bb; font-size: 15px; cursor: pointer}
#footer .footer_bottom .footer_family .tit:before{content: ''; border-top: 7px solid transparent;; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #2578bb; position: absolute; top: 9px; right: 10px;}
#footer .footer_bottom .footer_family ul{width: 240px; display: none; position: absolute; bottom: 66px; background: #F6F6F6}
#footer .footer_bottom .footer_family ul li a{padding: 10px; border: 1px solid #DCDCDC; border-bottom: 0; display: block; color: #666666; font-size: 15px}
#footer .footer_bottom .footer_family ul li a:hover{border-color: #2578bb; color: #ffffff; background-color: #2578bb;}
#footer .footer_bottom .footer_family .tit.on:before{border-top: 7px solid #193b6a; border-bottom: 7px solid transparent; top: 16px}
#footer .footer_bottom .footer_family .tit.on +ul{display: block}
@media screen and (max-width:1050px) {
	#footer .footer_top ul{padding: 0 20px}
	#footer .footer_bottom{padding: 30px 20px; display: block}
}
@media screen and (max-width:991px) {
	#footer .footer_bottom h1{margin-bottom:10px; display: block}
	#footer .footer_bottom .footer_info{width: 100%; padding-left: 0; margin-bottom: 10px; display: block}
	#footer .footer_bottom .footer_family{padding-left: 0; margin: 0 auto; display: block}
	#footer .footer_bottom .footer_family ul{width: 100%; bottom: 39px}
	#footer .footer_top ul li.btn_top{width: 100%; top: 50px}
	#footer .footer_bottom{margin-top: 50px; text-align: center}
	#footer .footer_bottom .footer_info{font-size: 13px}
}

/* 푸터링크배너 */
#footer .footer_banner{max-width: 1050px; width: 100%; height: 70px; margin: 0 auto; display: table; table-layout: fixed position: relative}
#footer .footer_banner>div{padding: 10px 25px; display: table-cell; vertical-align: middle}
@media screen and (max-width:991px) {
	#footer .footer_banner>div{width: 33.3333333%; display: block; float: left}
}
@media screen and (max-width:525px) {
	#footer .footer_banner>div{width: 50%}
	#footer .footer_banner>div:nth-child(odd){clear: both}
}


/* ncs 페이지에만 적용되는 헤더 */
.header-new{width:100%;}
.header-new .logo{width:225px; height: 67px; margin: 100px auto 50px;}
 /* mobile */
 @media screen and (min-width:320px) and (max-width:480px) {
	.header-new .logo{width:115px; height:auto; margin: 30px auto;}
  }

/* ncs 페이지에만 적용되는 푸터 */
.footer-new{width: 100%; overflow: hidden; position: relative; border-top:1px solid #bdbdbd;}
.footer-new .footer-inner{max-width: 1050px; margin: 0 auto; overflow: hidden;}
.footer-new .logo-wrap{overflow: hidden; padding: 10px 0;}
.footer-new .logo-wrap li{float: left; width: calc(100% / 4); padding: 10px; text-align: center;}
.footer-new .link-wrap{background: #212121; overflow: hidden; height:55px; line-height: 55px; padding:0 15px}
.footer-new .link-wrap .footer-inner{position: relative;}
.footer-new .link-wrap li{float: left; margin-right: 30px; }
.footer-new .link-wrap li a{width: 100%; height: 100%; font-size: 15px; color: #fff;}

.footer-new .btn-top{width: 100px; height: 55px; background: #61a93e; text-align:center; position: absolute; top: 0; right: 0;margin-right: 0!important;}
.footer-new .btn-top a{color: #fff;}

.footer-new .btn-wrap{width: 100%; height: 55px; line-height:55px; background: #61a93e; text-align: center;}
.footer-new .btn-wrap a{color: #fff;}

.footer-new .co-wrap{overflow: hidden; padding: 40px 0; display: -webkit-box; display: -ms-flexbox; display: flex;}
.footer-new .co-wrap .co-logo{width: 180px; height:auto; overflow: hidden; float: left;}
.footer-new .co-wrap .co-logo img{width: 100%;}
.footer-new .co-wrap .co-txt{float: left; margin: 0 90px 0 40px;}
.footer-new .co-wrap .co-txt span{display: block; font-size: 15px;text-align: left; color: #757575; line-height: 1.56;}

.footer-new .selectbox-wrap{text-align: center; float: left;}
.footer-new .selectbox-wrap form{position: relative;}
.footer-new .selectbox-wrap input[type="text"], 
.footer-new .selectbox-wrap input[type="search"]{border: 1px solid #bdbdbd; margin-right: 0; padding: 0 15px;}
.footer-new .selectbox-wrap input[type="text"]::placeholder, 
.footer-new .selectbox-wrap input[type="search"]::placeholder{color: #9e9e9e;}
.footer-new .selectbox-wrap input[type="image"], 
.footer-new .selectbox-wrap input[type="submit"]{background: transparent; position: absolute; top: 0; right: 0;}
.footer-new .selectbox-wrap select{width: 240px; border: solid 1px #61a93e; background-color: #fff; color: #61a93e; padding:10px; margin-top: 20px;}
.footer-new .selectbox-wrap .input-wrap{overflow: hidden; position: relative;}

.page-payment .footer-new .logo-wrap,
.page-payment .footer-new .link-wrap,
.page-payment .footer-new .btn-wrap,
.page-payment .footer-new .selectbox-wrap{display: none!important;}

@media screen and (min-width:481px) and (max-width:867px) {
	.footer-new .co-wrap .co-logo{float: initial; margin: 0 auto 20px;}
	.footer-new .co-wrap .co-txt,
	.footer-new .selectbox-wrap{width:100%; text-align: center; float: initial; margin: 0;}
	.footer-new .co-wrap .co-txt span{text-align: center;}

	.page-payment .footer-new .logo-wrap,
	.page-payment .footer-new .link-wrap,
	.page-payment .footer-new .btn-wrap,
	.page-payment .footer-new .selectbox-wrap{display: block!important}
}

  /* mobile */
  @media screen and (min-width:320px) and (max-width:480px) {
	.footer-new .link-wrap li{margin-right: 20px;}
	.footer-new .co-wrap .co-logo{float: initial; margin: 0 auto 20px;}
	.footer-new .co-wrap .co-txt,
	.footer-new .selectbox-wrap{width:100%; text-align: center; float: initial; margin: 0;}
	.footer-new .co-wrap .co-txt span{text-align: center;}
	.footer-new .co-wrap{padding: 40px 20px;}

	.page-payment .footer-new .logo-wrap,
	.page-payment .footer-new .link-wrap,
	.page-payment .footer-new .btn-wrap,
	.page-payment .footer-new .selectbox-wrap{display: block!important}
  }