/* 테이블 반응형 */
@media screen and (max-width:1050px) {
	.table-responsive{border: 0; overflow-x: scroll; overflow-y: hidden}
	.table-responsive table{margin-top: 60px; white-space: nowrap}
}
@media screen and (max-width:991px) {
	.table-responsive:before{content: '→ 스크롤 하세요'; width: calc(100% - 40px); height: 35px; padding: 0px 10px; border-radius: 4px; display: inline-block; position: absolute; color: #ffffff; font-size: 12px; font-family: '돋움', Dotum; line-height: 35px; background: #4c4c4c}
}

/* t_style01 */
.t_style01{width: 100%}
.t_style01 th{height: 37px; border: 1px solid #dcdcdc; background-color: #eeeeee; font-weight: normal; text-align: center}
.t_style01 th:first-child{width: 198px}
.t_style01 td{height: 37px; padding-left: 16px; border: 1px solid #dcdcdc; text-align: left}
.t_style01 .t01_con02{width: 100px; height: 37px}
@media screen and (max-width:767px) {
	.t_style01 th:first-child{width: 70px}
	.t_style01 td{padding: 0 5px; text-align: center}
}

/* t_style02 */
.t_style02{width: 100%; margin-bottom: 39px; border-top: 2px solid #1d73bc}
.t_style02 th{padding: 10px; border: 1px solid #dbdbdb; background-color: #eff5fa; color: #1d73bc; font-weight: bold; text-align: center}
.t_style02 td{padding: 10px; border: 1px solid #dbdbdb; text-align: center}
.t_style02 td:first-child,
.t_style02 th:first-child{border-left: 0}
.t_style02 td:last-child,
.t_style02 th:last-child{border-right: 0}
.t_style02 .emp{color: #1d73bc; font-weight: bold}
.t_style02 .emp2{padding-left: 21px; font-weight: bold; text-align: left}
@media screen and (max-width:767px) {
	.t_style02 tr{margin-bottom: 10px; display: block; border-bottom: 1px solid #dbdbdb}
	.t_style02 tr:after{content: ''; display: block; clear: both}
	.t_style02 thead{display: none}
	.t_style02 td{border: 0; display: block}
	.t_style02 .emp2{text-align: center}
}

/* t_style03 */
.t_style03{width: 100%; margin-bottom: 20px; border-top: 2px solid #000000}
.t_style03 thead{background-color: #FBFBFB}
.t_style03 th{padding: 10px; border: 1px solid #e0e0e0; font-size: 12px; text-align: center; font-family: '돋움', Dotum}
.t_style03 td{padding: 10px; border: 1px solid #e0e0e0; font-size: 12px; text-align: center; font-family: '돋움', Dotum}
.t_style03 .con{text-align: left}
.t_style03 .question td, .qeustion th{cursor: pointer}
.t_style03 .anser{background-color: #f7feff}
.t_style03 .anser td:first-child{padding-top: 20px; border-right: 0; vertical-align: top}
.t_style03 .anser .con{padding-top: 20px; padding-bottom: 50px; border-left: 0}

/* t_style04 */
.t_style04{width: 100%; border-top: 2px solid #000000; border-bottom: 1px solid #000000; margin-bottom: 30px}
.t_style04 td,
.t_style04 th,
.t_style04 input,
.t_style04 p,
.t_style04 span,
.t_style04 select{font-family: '돋움', Dotum; font-size: 12px}
.t_style04 caption{margin-bottom: 10px; color: #353535; font-size: 18px; letter-spacing: -0.5px}
.t_style04 th{width: 131px; padding-left: 11px; border-bottom: 1px solid #e5e5e5; background-color: #f2f2f2; color: #414141; font-size: 13px; text-align: left}
.t_style04 td{padding: 6px 0 6px 11px; border-bottom: 1px solid #e5e5e5; color: #727272}
.t_style04 input{vertical-align: middle}
.t_style04 input[type="text"],
.t_style04 input[type="password"],
.t_style04 input[type="email"],
.t_style04 input[type="tel"],
.t_style04 input[type="number"],
.t_style04 input[type="date"]{min-width: 190px; height: 25px; padding-left: 9px; border-top: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5}
.t_style04 select{min-width: 100px; height: 25px; padding-left: 0; border-top: 1px solid #B2B2B2; border-left: 1px solid #B2B2B2; border-right: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; color: #727272; font-size: 12px}
.t_style04 .des{color: #727272; font-size: 11px}
.t_style04 .i_type{width: 393px}
.t_style04 .address_top{margin-bottom: 4px}
@media screen and (max-width:767px) {
	.t_style04 input[type="text"],
	.t_style04 input[type="password"],
	.t_style04 input[type="email"],
	.t_style04 input[type="tel"],
	.t_style04 input[type="number"],
	.t_style04 input[type="date"]{width: 100%; min-width: 0}
	.t_style04 .address_box input[type="text"]{width: 100%; margin-bottom: 4px}
	.t_style04 .address_top{margin-bottom: 0}
	.t_style04 .address_top input[type="text"]{min-width: 0; width: calc(100% - 86px)}
}

/* t_style05 */
.t_style05{width: 100%; font-size: 13px}
.t_style05 tr{border-bottom: 1px solid #EFF0EF}
.t_style05 td{min-height: 25px; padding: 8px 0}
.t_style05 td:first-child{width: 290px}
.t_style05 td:last-child{float: right}
.t_style05 .emp{color: #16578f}
@media screen and (max-width:767px) {
	.t_style05 tr{margin-bottom: 20px; border-top: 2px solid #58AAF3; border-bottom: 0; display: block}
	.t_style05 tr:after{content: ''; display: block; clear: both}
	.t_style05 td{width: 100% !important; border-bottom: 1px solid #EFF0EF; display: block}
	.t_style05 td:last-child{text-align: right}
	.t_style05 .emp{font-weight: bold}
}

/* .t_style06 */
.t_style06{width: 100%; margin-bottom: 26px; border-top: 2px solid #000000}
.t_style06 th{width: 122px; height: 26px; padding-left: 19px; border: 1px solid #e0e0e0; background-color: #FBFBFB; text-align: left; font-size: 12px; font-family: '굴림', Gulim}
.t_style06 td{height: 26px; padding: 7px 9px; border: 1px solid #e0e0e0; text-align: left; font-size: 12px; font-family: '굴림', Gulim; background-color: #ffffff}
.t_style06 input{padding: 0; margin: 0; border: 0; height: 27px; line-height: 27px; padding-left: 10px; border: 1px solid #D3D3D3; border-radius: 2px; background-color: #fbfbfb; vertical-align: middle}
.t_style06 input[type="text"],
.t_style06 input[type="password"],
.t_style06 input[type="email"],
.t_style06 input[type="tel"]{width: 230px}
.t_style06 .s_type1{width: 80px; height: 27px; border: 1px solid #ababab; padding-left: 3px; vertical-align: middle}
.t_style06 .s_type2{width: 65px; height: 25px; line-height: 25px; border: 1px solid #ababab; padding-left: 3px; background-color: #ffffff; vertical-align: middle}
.t_style06 textarea{width: 100%; height: 403px; padding-top: 10px; padding-left: 10px; border: 0; border: 1px solid #D4D4D4; border-radius: 2px; font-size: 12px; font-family: '굴림', Gulim; resize: none}
.t_style06 input.i_type1{width: 50px}
.t_style06 input.i_type2{width: 454px}
.t_style06 .phone select{width: 80px; height: 27px; padding-left: 3px; border: 1px solid #d6d6d6; border-radius: 2px; vertical-align: top}
.t_style06 .readonly{border: 0; padding: 0; background: none}
@media screen and (max-width:767px) {
	.t_style06 th{width: 100px}
	.t_style06 .phone span{width: calc(33.333333% - 2px); margin-left: 3px; display: block; float: left}
	.t_style06 .phone span:first-child{margin-left: 0}
	.t_style06 .phone select{width: 100%}
	.t_style06 input[type="text"],
	.t_style06 input[type="password"],
	.t_style06 input[type="email"],
	.t_style06 input[type="tel"]{width: 100%}
}

/* t_style07 */
.t_style07{width: 100%; margin-bottom: 15px; border-top: 2px solid #000000; text-align: center}
.t_style07 th{height: 40px; border: 1px solid #d0d0d0; background-color: #f5f5f5; text-align: center; font-size: 12px; font-family: '굴림', Gulim}
.t_style07 td{padding: 10px 0; border: 1px solid #d0d0d0; font-size: 12px; font-family: '굴림', Gulim}
.t_style07 img{vertical-align: middle}
.t_style07 input{border: 0; padding: 0; margin: 0; border: 1px solid #e4e4e4; background-color: #fbfbfb; vertical-align: middle}
.t_style07 td select{border: 0; padding: 0; margin: 0}
.t_style07 .top_tit{background-color: #fffdfb}
.t_style07 .type1{width: 329px; height: 29px}
.t_style07 .type2{width: 87px; height: 31px; margin-left: 6px; border: 1px solid #ababab; background-color: #ffffff}
.t_style07 .type3{width: 114px; height: 29px}
.t_style07 .type4{width: 100%; height: 131px; margin: 8px 0; overflow-y: scroll}
.t_style07 .pass{height: 31px; line-height: 31px; display: block; float: right}
.t_style07 th:first-child,
.t_style07 td:first-child{border-left: 0}
.t_style07 th:last-child,
.t_style07 td:last-child{border-right: 0}
.t_style07 .tit{padding-left: 15px; text-align: left}
.t_style07 .emp{color: #d91d24; font-weight: bold}
@media screen and (max-width:767px) {
	.t_style07 tr{padding: 10px; border-bottom: 1px solid #b2b2b2; display: block}
	.t_style07 tr:after{content: ''; display: block; clear: both}
	.t_style07 thead{display: none}
	.t_style07 td{border: 0; display: block; text-align: left}
	.t_style07 td.mo_none{display: none}
	.t_style07 td.tit{padding-left: 0}
	.t_style07 td.name{float: left}
	.t_style07 td.name:after{content: '|'; margin: 0 10px}
	.t_style07 td.date{float: left}
}

/* t_style08 */
.t_style08{width: 100%; margin-bottom: 57px; border-top: 2px solid #000000; text-align: left}
.t_style08 p,
.t_style08 th,
.t_style08 td,
.t_style08 a{font-family: '굴림', Gulim}
.t_style08 th,
.t_style08 td{padding: 12px; border-bottom: 1px solid #d0d0d0; font-size: 12px}
.t_style08 th>p,
.t_style08 td>p{float: left}
.t_style08 .tr_bg01{background: #ececec}
.t_style08 .date{float: right; color: #b7b7b7; font-weight: normal}
.t_style08 .userTxt{line-height: 1.6em; padding: 30px 12px}

/* t_style09 */
.t_style09{width: 100%; margin-bottom: 50px; border-top: 2px solid #000000; font-size: 13px}
.t_style09 caption{color: #333333; font-size: 20px; font-weight: bold}
.t_style09 th{padding: 10px; border-bottom: 1px solid #dedede; text-align: center; background-color: #eaeaea}
.t_style09 td{padding: 10px; border-bottom: 1px solid #dedede; text-align: center}
.t_style09 .tit{text-align: left}
.t_style09 select{padding: 3px; border: 0; border: 1px solid #cacaca; font-size: 12px}
/* type2 */
.t_style09.type2{border: 2px solid #000000}
.t_style09.type2 th{padding: 20px 10px; border: 1px dashed #c7c7c7; font-size: 16px}
.t_style09.type2 td{padding: 20px 10px; border: 1px dashed #c7c7c7; font-size: 18px}
@media screen and (max-width:768px) {
	.t_style09 thead{display: none}
	.t_style09 td{padding: 0; display: flex; text-align: left}
	.t_style09 td:after{content: ''; display: block; clear: both}
	.t_style09 select{width: 100%}
	.t_style09 .mo_right{width: calc(100% - 120px); padding: 10px; display: block; float: right}
}

/* t_style10 */
.t_style10{width: 100%; border-top: 2px solid #000000; border-collapse: collapse}
.t_style10 th{min-width: 150px; height: 36px; border: 1px solid #c1c1c1; background-color: #f4f4f4; font-size: 14px; font-weight: normal; text-align: center}
.t_style10 td{padding: 8px; border: 1px solid #c1c1c1; font-size: 12px; line-height: 1.6em}
.t_style10 th:first-child,
.t_style10 td:first-child{border-left: 0}
.t_style10 th:last-child,
.t_style10 td:last-child{border-right: 0}
.t_style10 .wd1{width: 200px}

/* t_styel11 */
.t_style11{width: 100%; background-color: #ffffff; text-align: center}
.t_style11 th{padding: 5px; border: 1px solid #dfdfdf; font-size: 14px; font-weight: normal; text-align: center}
.t_style11 td{padding: 13px 7px; border: 1px solid #dfdfdf; font-size: 16px; font-weight: bold}
.t_style11 .type3 td{height: 99px; padding-left: 22px; border: 1px solid #dfdfdf; font-size: 12px; text-align: justify}
.t_style11 .emp{color: #1d93d0; font-size: 28px; font-weight: bold}
.t_style11 .emp2{color: #f57b85; font-size: 18px; font-weight: bold}
.t_style11 .emp3{padding-bottom: 2px; border-bottom: 1px solid #e3e3e3; color: #1d93d0; font-size: 18px; font-weight: bold}
.t_style11 .emp4{display:block; margin-top: 5px; font-size: 14px}
.t_style11 .emp5{font-size: 18px; font-weight: bold}
.t_style11 .emp8{color: #3e72bc; font-weight: bold}

/* t_style12 */
.t_style12{width: 100%; margin-bottom: 50px; border-top: 2px solid #000000; line-height: 1.6em}
.t_style12 caption{color: #333333; font-size: 20px}
.t_style12 th{padding: 10px 20px; border-bottom: 1px solid #dadada; font-size: 13px; font-weight: normal; text-align: center; background-color: #f1f1f1}
.t_style12 td{padding: 10px 20px; border-bottom: 1px solid #dadada; font-size: 13px; text-align: left}
.t_style12 td:after{content: ''; display: block; clear: both}
.t_style12 .top_tit{border-left: 0; border-right: 0; font-weight: bold; background-color: #ffffff}
.t_style12 .emp{color: #7a7a7a; font-size: 12px; line-height: 1.6em}
.t_style12 .radio_box{padding: 10px 0; text-align: left}
.t_style12 .radio_box label{margin-right: 10px}
.t_style12 .con{text-align: left}
@media screen and (max-width:767px) {
	.t_style12 th{display: block}
	.t_style12 td{display: block}
	.t_style12 .emp{display: block}
	.t_style12 .radio_box label{width: calc(50% - 20px); margin-bottom: 10px; vertical-align: top}
}

/* t_style13 */
.t_style13{width: 100%; height: 100%; text-align: center}
.t_style13 .top_tit th{height: 36px; background-color: #193b6a; border: 1px solid #193b6a; color: #ffffff; font-size: 14px; font-weight: normal; text-align: center}
.t_style13 th{height: 38px; border: 1px solid #dfdfdf; background-color: #fdfdfd; font-size: 12px; font-weight: normal; text-align: center}
.t_style13 td{padding: 5px; border: 1px solid #dfdfdf; background-color: #ffffff; font-size: 12px; font-weight: normal}
.t_style13 .emp{color: #1d93d0; font-size: 12px; font-weight: bold}
.t_style13 .emp2{color: #f07562; font-size: 12px; font-weight: bold}

/* t_style14 */
.t_style14{width: 100%; background-color: #ffffff}
.t_style14 td{height: 99px; padding-left: 22px; border: 1px solid #dfdfdf; font-size: 12px; text-align: justify}
.t_style14 .emp{color: #3e72bc; font-weight: bold}

/* t_style15 */
.t_style15{width: 100%; border-top: 2px solid #3863A6; background-color: #ffffff}
.t_style15 th{width: 120px; padding: 10px; background-color: #3863A6; color: #ffffff; font-size: 15px; font-weight: normal; text-align: center; word-break: break-word}
.t_style15 td{padding: 10px; font-size: 14px}
.t_style15 tr{padding: 0; border-bottom: 1px solid #6287C0; display: block}
.t_style15 tr:last-child{border-bottom: 1px solid #3863A6}
.t_style15 .emp{color: #da1c1c}

/* t_style16 */
.t_style16{width: 100%; margin-bottom: 10px; background-color: #ffffff; font-size: 14px; line-height: 1.6em}
.t_style16 th{width: 100px; padding: 10px 15px; border: 1px solid #BCBCBC; background-color: #E4E4E4; text-align: center}
.t_style16 td{padding: 10px 15px; border: 1px solid #bcbcbc}
.t_style16 input[type="file"]{width: 100%; padding: 2px; border: 1px solid #bcbcbc; background-color: #ebebeb}
.t_style16 textarea{width: 100%; height: 300px; padding: 10px; font-size: 14px; resize: none}

/* t_style17 */
.t_style17{width: 100%; margin-bottom: 20px; border-top: 2px solid #383838; text-align: center}
.t_style17 th{padding: 5px 10px; border-bottom: 1px solid #cccccc; color: #353535; font-size: 14px; text-align: center; background-color: #D8D8D8}
.t_style17 td{padding: 5px 10px; border-bottom: 1px solid #cccccc; color: #5a5a5a; font-size: 14px}
.t_style17 a{display: inline-block}
.t_style17 a:hover{font-weight: bold}
.t_style17 input[type="text"]{width: 100%; height: 25px; padding-left: 10px; border: 0; border: 1px solid #d0d0d0}
.t_style17 textarea{width: 100%; height: 300px; padding: 10px; margin: 10px 0; border: 0; border: 1px solid #d0d0d0; resize: none}
.t_style17 .tit{padding-left: 10px; text-align: left}
@media screen and (max-width:767px) {
	.t_style17 thead{display: none}
	.t_style17 tr{border-bottom: 1px solid #c3c3c3}
	.t_style17 .notice_name td{border-bottom: 0; display: block; text-align: left}
	.t_style17 .notice_name td:after{content: ''; display: block; clear: both}
	.t_style17 .tit{width: calc(100% - 80px); padding-left: 0; float: right}
}

/* t_style20 */
.t_style20{width: 100%; margin-bottom: 40px; border-top: 2px solid #676767}
.t_style20 th{padding: 10px; border-bottom: 1px solid #676767; text-align: center}
.t_style20 td{padding: 10px; border-bottom: 1px solid #E5E5E5; text-align: center}
.t_style20 th.notice_tit,
.t_style20 td.notice_tit{text-align: left}
.t_style20 td.txt{min-height: 300px; padding: 20px 10px; display: block; text-align: left}
.t_style20 a:hover{color: #f2753e}
.t_style20 h3{padding: 10px 0; font-size: 20px; font-weight: bold}
.t_style20 .info{padding-bottom: 15px; color: #909090}
.t_style20 .info>span:after{content: ''; margin: 0 10px; width: 1px; height: 10px; display: inline-block; border-right: 1px solid #e5e5e5}
.t_style20 .info>span:last-child:after{display: none}
@media screen and (max-width:767px) {
	.t_style20 tr{border-bottom: 1px solid #e5e5e5}
	.t_style20 td{display: block; border: 0}
	.t_style20 td.notice_tit{padding-top: 20px; padding-bottom: 0; font-size: 16px; font-weight: bold}
	.t_style20 .mo_cut{display: none}
	.t_style20 .notice_admin{float: left; position: relative}
	.t_style20 .notice_admin:after{content: ''; height: 10px; margin: 0 10px; border: 1px solid #e5e5e5; display: inline-block; position: absolute; top: 16px; right: -12px}
	.t_style20 .notice_date{float: left}
}

/* t_style21 */
.t_style21{width: 100%; margin-bottom: 40px; border-top: 2px solid #676767}
.t_style21 tr{border-bottom: 1px solid #E5E5E5}
.t_style21 th{width: 140px; padding: 10px 15px; background-color: #F9FAFB}
.t_style21 td{padding: 10px}
.t_style21 .text-center th,
.t_style21 .text-center td{text-align: center}
.t_style21 .category{margin-bottom: 10px; font-size: 20px}
.t_style21 .category:before{content: ''; width: 11px; height: 12px; margin-right: 10px; display: inline-block; background: url(/images/common/icon_category.png) no-repeat}
.t_style21 .tit{font-size: 16px; font-weight :bold}
.t_style21 input[type="text"],
.t_style21 input[type="password"],
.t_style21 input[type="email"],
.t_style21 select{max-width: 300px; width: 100%; height: 30px; padding-left: 7px; border: 0; border: 1px solid #E2E2E2}
.t_style21 .join_address .i_type01{max-width: 160px}
.t_style21 .join_address .i_type02{max-width: 320px; background-color: #F1F3F4}
.t_style21 .join_address .i_type03{max-width: 250px}
.t_style21 .join_address .i_btn01{width: auto; height: 30px; padding: 0 10px; border: 0; color: #ffffff; text-align: center; background-color: #565656}
.t_style21 textarea{width: 100%; height: 300px; padding: 10px; border: 0; border: 1px solid #e2e2e2; resize: none}
@media screen and (max-width:767px) {
	.t_style21 .apply_list td{display: block}
	.t_style21 .mo_cut{display: none}
	.t_style21 input,
	.t_style21 select{max-width: none}
	.t_style21 .join_address .i_type01{margin-bottom: 4px; max-width: none}
	.t_style21 .join_address .i_type02{margin-bottom: 4px; max-width: none}
	.t_style21 .join_address .i_type03{max-width: none}
	.t_style21 .join_address .i_btn01{width: 100%}
}

/* t_style22 */
.t_style22{width: 100%; border-top: 2px solid #464646; color: #464646; font-size: 14px}
.t_style22 caption{font-size: 13px}
.t_style22 th{min-width: 70px; width: 130px; height: 36px; padding: 10px 15px; border-bottom: 1px solid #dcdcdc; font-weight: normal; background-color: #FAFAFA}
.t_style22 td{padding: 10px 15px; border-bottom: 1px solid #dcdcdc}
.t_style22 .txt_style{width: 100%; height: 283px; padding: 10px; border: 1px solid #dfdfdf; border-radius: 4px; background-color: #fafafa; resize: none}
.t_style22 .i_style{width: 80%; height: 34px; padding: 0 10px; border: 1px solid #dfdfdf; border-radius: 4px; background-color: #fafafa}
@media screen and (max-width:991px) {
	.t_style22 .i_style{width: 100%}
}

/* t_style23 */
.t_style23{width: 100%}
.t_style23 th{min-width: 100px; width: 130px; padding-bottom: 10px; vertical-align: top; font-size: 15px}
.t_style23 td{padding-bottom: 10px; font-size: 15px}
.t_style23 .txt2{padding-bottom: 40px}

/* t_style24 */
.t_style24{width: 100%; margin-bottom: 60px; text-align: center}
.t_style24 input{vertical-align: middle}
.t_style24 caption{color: #353535; font-size: 20px; font-weight: bold}
.t_style24 th{height: 67px; color: #ffffff; font-size: 16px; font-weight: bold; text-align: center; background-color: #4D4D4D}
.t_style24 th:first-child{border-radius: 5px 0 0 5px}
.t_style24 th:last-child{border-radius: 0 5px 5px 0}
.t_style24 td{height: 54px; font-size: 14px}
.t_style24 tbody tr{border-bottom: 1px dashed #B6B6B6}
.t_style24 tbody tr:last-child{border-bottom: 1px solid #b6b6b6}
.t_style24 .emp{color: #ea6922}
.t_style24 .emp2{color: #dd3b38}
@media screen and (max-width:768px) {
	.t_style24 caption{border-bottom: 2px solid #000000}
	.t_style24 th{display: none}
	.t_style24 td{height: auto; padding: 20px 0; display: block; text-align: left}
}

/* t_style25 */
.t_style25{width: 100%; margin-bottom: 50px; font-size: 14px}
.t_style25 caption{color: #353535; font-size: 16px; font-weight: bold}
.t_style25 tr{border-top: 1px solid #B6B6B6; border-bottom: 1px solid #B6B6B6}
.t_style25 th{width: 20%; height: 48px; padding: 10px 15px; background-color: #E9E9E9}
.t_style25 td{width: calc(80% - 60px); height: 48px; padding: 10px 15px}
.t_style25 td>span{margin-right: 5px}
.t_style25 td>span:last-child{margin-right: 0}
.t_style25 input{vertical-align: middle}
.t_style25 input[type="text"]{width: 175px; height: 30px; padding-left: 5px; border: 0; border: 1px solid #CFCFCF; color: #747474; vertical-align: middle}
.t_style25 select{min-width: 65px; height: 30px; padding-left: 5px; border: 0; border: 1px solid #CFCFCF; color: #747474; vertical-align: middle}
.t_style25 .t_date input{width: 117px; padding-left: 0; text-align: center}
.t_style25 .t_caln img{vertical-align: top}
.t_style25 .t_coupon select{width: 153px}
.t_style25 .t_coupon input[type="button"]{width: 80px; height: 30px; line-height: 30px; border: 0; border: 1px solid #DC7F52; color: #ffffff; text-align: center; background-color: #ED8756}
.t_style25 .emp{color: #dd3b38}
.t_style25 .emp2{color: #dd3b38}
.t_style25 .emp3{color: #ea6922}
@media screen and (max-width:1024px) {
	.t_style25 input, .t_style25 select{margin-bottom: 4px}
	.t_style25 .emp{display: block}
}
@media screen and (max-width:425px) {
	.t_style25 td>span{display: inline}
	.t_style25 input[type="text"], .t_style25 select{width: 100%}
	.t_style25 td>span.t_date input{width: calc(100% - 39px)}
	.t_style25 .t_date_box select{min-width: auto; width: calc(50% - 31.6px)}
	.t_style25 .t_caln{margin-right: 0}
	.t_style25 .t_coupon select{width: calc(100% - 89px)}
}

/* t_style26 */
.t_style26{width: 100%; margin-bottom: 160px; text-align: center}
.t_style26 caption{color: #353535; font-size: 30px; font-weight: bold; text-align: center}
.t_style26 th{height: 60px; border: 1px solid #CB7135; color: #ffffff; font-size: 16px; font-weight: bold; text-align: center; background-color: #FE8A3E}
.t_style26 td{min-height: 60px; border: 1px solid #CECECE; padding: 20px; font-size: 13px}
.t_style26 .txt{text-align: left}
.t_style26 .emp{color: #f42323}
.t_style26 .even{background-color: #F6F6F6}
.t_style26 .comment{font-size: 14px; font-weight: normal; text-align: right}
@media screen and (max-width:768px) {
	.t_style26 caption{border-bottom: 2px solid #000000}
	.t_style26 .comment{text-align: center}
	.t_style26 tr{border-bottom: 1px solid #000000}
	.t_style26 th{display: none}
	.t_style26 td{display: block; border: 0; border-bottom: 1px dashed #cecece; text-align: left}
	.t_style26 td:last-child{border-bottom: 0}
	.t_style26 td:after{content: ''; display: block; clear: both}
	.t_style26 .t_name span{width: calc(100% - 120px); float: right}
}

/* t_style27 */
.t_style27{width: 100%; margin-bottom: 20px; text-align: center}
.t_style27 thead th{height: 60px; border: 1px solid #D6D6D6; color: #ffffff; font-size: 16px; text-align: center; background-color: #4D4D4D}
.t_style27 tbody th{height: 60px; border: 1px solid #D6D6D6; color: #ffffff; font-size: 16px; text-align: center; background-color: #999999}
.t_style27 td{height: 60px; border: 1px solid #D6D6D6}

/* t_style28 */
.t_style28{width: 100%}
.t_style28 tr{border-bottom: 1px solid #a7a7a7}
.t_style28 tr.t_line1{border-bottom-color: #634444}
.t_style28 tr.t_line2{border-bottom-color: #441E1E}
.t_style28 tr.t_line3{border-bottom-color: #240D0D}
.t_style28 tr.t_line4{border-bottom-color: #E23484}
.t_style28 tr.t_line5{border-bottom-color: #952F51}
.t_style28 .even th{float: right}
.t_style28 .even td{float: left}
.t_style28 th{width: 20%; min-height: 235px; padding: 20px 15px; display: flex; align-items: center; justify-content: center; float: left; color: #ffffff; font-size: 20px; font-weight: bold; text-align: center; background-color: #666666}
.t_style28 th.t_color1{background-color: #634444}
.t_style28 th.t_color2{background-color: #441E1E}
.t_style28 th.t_color3{background-color: #240D0D}
.t_style28 th.t_color4{background-color: #E23484}
.t_style28 th.t_color5{background-color: #952F51}
.t_style28 td{padding: 30px; float: left; color: #666666; line-height: 180%}
.t_style28 td ul li{margin-bottom: 10px}
.t_style28 td ul li:before{content: '◆'; margin-right: 10px}
@media screen and (max-width:768px) {
	.t_style28 th{width: 100%; min-height: auto; display: block}
	.t_style28 td{display: block}
}

/* t_style29 */
.t_style29{width: 100%; font-size: 14px; text-align: center}
.t_style29 th{color: #5a5a5a; padding: 7px 0; border: 1px solid #E2E2E2; text-align: center; background-color: #EFEFEF}
.t_style29 td{min-width: 120px; padding: 5px 10px; border: 1px solid #e2e2e2}
@media screen and (max-width:767px){
	.t_style29{white-space: nowrap; overflow-x: auto}
}

/* t_style30 */
.t_style30{width: 100%; border-top: 2px solid #565656}
.t_style30 tr{border-bottom: 1px solid #e5e5e5}
.t_style30 th{width: 30px; padding: 20px; vertical-align: top}
.t_style30 .top_box{cursor: pointer}
.t_style30 .bottom_box{padding: 10px 20px; border-top: 1px solid #E5E5E5; display: none; background-color: #FBFBFB}
.t_style30 .bottom_box .txt_box{padding: 20px 0}
.t_style30 .text_icon{width: 30px; height: 30px; border-radius: 100%; display: inline-block; color: #ffffff; text-align: center; line-height: 30px; background-color: #565656}
.t_style30 .text_icon2{width: 30px; height: 30px; border-radius: 100%; display: inline-block; color: #ffffff; text-align: center; line-height: 30px; background-color: #3094D7}

/* t_style31 */
.t_style31{width: 100%; margin-bottom: 30px}
.t_style31 th{width: 100px; padding: 10px; border: 1px solid #e0e0e0; text-align: center; background-color: #f3f3f3; word-break: keep-all}
.t_style31 td{padding: 10px; border: 1px solid #e0e0e0; background-color: #ffffff; word-break: keep-all}
.t_style31 ul li{margin-left: 20px; list-style: decimal}

/* t_style32 */
.t_style32{max-width: 1050px; width: 100%; margin: 0 auto 20px; border-top: 2px solid #193b6a}
.t_style32 caption{height: 0; overflow: hidden}
.t_style32 thead{border-bottom: 1px solid #193b6a}
.t_style32 th{padding: 15px 10px; color: #193b6a; font-size: 17px; font-weight: 700; font-family: 'NanumSquare', '나눔스퀘어'; text-align: center}
.t_style32 td{padding: 10px; border-bottom: 1px solid #D3D3D3; font-size: 17px; font-family: 'NanumSquare', '나눔스퀘어'; text-align: center}
.t_style32 td a{display: block}
.t_style32 .tit{width: 60%; text-align: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
.t_style32 .view_tit{width: 80%; text-align: left}
.t_style32 .view_con{padding: 0}
.t_style32 .view_con .view_txt{padding: 20px 10px 40px; font-size: 15px; font-family: 'Nanum Gothic', '나눔고딕'; text-align: left}
.t_style32 .view_con .view_down{padding: 10px; border-top: 1px solid #d3d3d3; text-align: left}
.t_style32 .view_con .view_down .left{padding-right: 20px; display: table-cell; vertical-align: top; color: #193b6a; font-weight: 700}
.t_style32 .view_con .view_down .right{display: table-cell; vertical-align: top}
.t_style32 .view_con .view_down .right>p{padding-left: 27px; background: url(/images/common/icon_clip.png) no-repeat center left;}
@media screen and (max-width:768px) {
	.t_style32 thead{display: none}
	.t_style32 thead.view{display: block}
	.t_style32 tr{padding: 10px 0; border-bottom: 1px solid #d3d3d3; display: block}
	.t_style32 tr:after{content: ''; display: block; clear: both}
	.t_style32 th{padding: 3px 0; display: block}
	.t_style32 td{padding: 3px 0; border: 0; display: block; text-align: left}
	.t_style32 .num{font-weight: 700}
	.t_style32 .tit{width: 100%}
	.t_style32 .name{padding: 3px 0; float: left}
	.t_style32 .name:after{content: ''; margin: 0 10px; border-right: 1px solid #d3d3d3}
	.t_style32 .day{padding: 3px 0; float: left}
	.t_style32 .view_tit{width: 100%}
}

/* t_style33 */
.t_style33{max-width: 1050px; width: 100%; margin: 0 auto 20px; border-top: 2px solid #193b6a}
.t_style33 th{width: 150px; padding: 10px 20px; border-bottom: 1px solid #D3D3D3; color: #193b6a;  font-size: 15px; font-weight: normal; text-align: left; letter-spacing: -0.5px; word-break: keep-all; background: #E8E8E8}
.t_style33 td{padding: 10px; border-bottom: 1px solid #d3d3d3; font-size: 14px; font-family: 'Nanum Gothic', '나눔고딕'; background: #ffffff}
.t_style33 input[type="tel"],
.t_style33 input[type="text"],
.t_style33 input[type="email"],
.t_style33 input[type="password"]{max-width: 200px; width: 100%; height: 27px; padding: 0 5px; border: 1px solid #D4D4D4; display: inline-block; vertical-align: top; font-family: 'Nanum Gothic', '나눔고딕'}
.t_style33 input[type="password"]{max-width: 250px}
.t_style33 input.input_value{width: auto; border: 0}
.t_style33 textarea{width: 100%; height: 400px; padding: 5px; border: 1px solid #d4d4d4; display: inline-block; vertical-align: middle; font-family: 'Nanum Gothic', '나눔고딕'; overflow-y: scroll; resize: none}
.t_style33 span{display: inline-block}
.t_style33 .address_box .address_top{margin-bottom: 3px}
.t_style33 .address_box .address_input01{max-width: 150px; background: #e2e2e2}
.t_style33 .address_box .address_input02{max-width: 300px; background: #e2e2e2}
@media screen and (max-width:768px) {
	.t_style33 input{margin: 3px 0}
	.t_style33 .address_box .address_top{margin-bottom: 0px}
}
@media screen and (max-width:525px) {
	.t_style33 th{width: 110px}
}

/* t_style34 */
.t_style34{width: 100%; margin-bottom: 20px}
.t_style34 caption{height: 0; overflow: hidden}
.t_style34 thead{background: #193b6a}
.t_style34 thead th{padding: 15px; color: #ffffff; font-size: 18px; font-weight: 700}
.t_style34 tbody tr{border-bottom: 1px solid #d3d3d3}
.t_style34 tbody td{padding: 20px 0; font-size: 15px; text-align: center}
.t_style34 .info{width: 550px}
.t_style34 .info .img{width: 200px; display: table-cell; vertical-align: middle}
.t_style34 .info .img img{width: 100%}
.t_style34 .info .con{width: calc(100% - 220px); padding-left: 20px; display: table-cell; vertical-align: middle; text-align: left}
.t_style34 .info .con .tit{margin-bottom: 4px; display: block; color: #193b6a; font-size: 20px; font-weight: 700;}
.t_style34 .info .con .txt{width: 80%; max-width: 300px; height: 42px; margin-bottom: 4px; color: #656565; font-size: 15px; line-height: 1.4em}
.t_style34 .pay{font-size: 20px}
.t_style34 .sampl{width: 110px}
.t_style34 .sampl>p:first-child{margin-bottom: 4px}
@media screen and (min-width:992px) {
	.t_style34 .info .con .tit{width: 80%; max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
}
@media screen and (max-width:991px) {
	.t_style34 thead{display: none}
	.t_style34 tbody tr{padding: 20px 0; display: block}
	.t_style34 tbody td{padding: 0; display: block}
	.t_style34 tbody tr:after{content: ''; display: block; clear: both}
	.t_style34 .info{width: 100%; margin-bottom: 4px}
	.t_style34 .day,
	.t_style34 .pay,
	.t_style34 .sampl{width: auto; margin-left: 220px; margin-bottom: 10px; text-align: left; line-height: 1.4em}
	.t_style34 .sampl>p{float: left}
	.t_style34 .sampl>p:first-child{margin-bottom: 0; margin-right: 4px}
}
@media screen and (max-width:560px) {
	.t_style34 .info .con .txt{max-width: 250px}
}
@media screen and (max-width:525px) {
	.t_style34 .info{margin-bottom: 10px}
	.t_style34 .info .img{margin:0; margin-bottom: 10px; display: block}
	.t_style34 .info .con{width: 100%; padding: 0; display: block; }
	.t_style34 .info .con .tit{margin-bottom: 10px}
	.t_style34 .info .con .txt{display: none}
	.t_style34 .day,
	.t_style34 .pay,
	.t_style34 .sampl{margin-left: 0}
}

/* t_style35 */
.t_style35{width: 100%; margin-bottom: 20px; border-top: 2px solid #193b6a}
.t_style35 tr{border-bottom: 1px solid #d3d3d3}
.t_style35 th{padding: 10px; color: #193b6a; font-size: 17px; font-weight: 700; text-align: left;}
.t_style35 td{padding: 10px; color: #4c4c4c; font-size: 15px;}
@media screen and (max-width:425px) {
	.t_style35{border-bottom: 1px solid #d3d3d3}
	.t_style35 tr{border-bottom: 0}
	.t_style35 th{padding: 5px 10px; border-top: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; display: block; background: #f3f3f3}
	.t_style35 td{padding: 5px 10px; display: block}
	.t_style35 tr:first-child th:first-child{border-top: 0}
}

/* t_style36 */
.t_style36{width: 100%; margin-bottom: 40px; border-top: 1px solid #d3d3d3}
.t_style36 caption{height: 0; overflow: hidden}
.t_style36 tr{border-bottom: 1px solid #d3d3d3}
.t_style36 th{width: 120px; padding: 10px; font-size: 17px; font-weight: 700; text-align: center; background: #EDEDED}
.t_style36 td{padding: 10px; font-size: 17px}
.t_style36 select{max-width: 400px; width: 100%; height: 27px; padding: 0 7px; border: 1px solid #d3d3d3; font-size: 15px}
.t_style36 .coupon{width: 140px; height: 27px; padding: 0 10px; border: 0; border: 1px solid #d3d3d3; font-size: 17px; font-family: 'NanumSquare', '나눔스퀘어'; text-align: right}
.t_style36 .payment{padding: 20px; font-size: 24px; font-weight: 700; text-align: center; background: #E5E5E5}
.t_style36 .payHow{padding: 0}
.t_style36 .payHow input[type="text"]{max-width: 100px; width: 100%; height: 27px; padding-left: 5px; border: 1px solid #d3d3d3}
.t_style36 .payHow .pay_tit{padding: 10px; border-bottom: 1px solid #d3d3d3}
.t_style36 .payHow .pay_tit>span{margin-right: 20px; display: inline-block}
.t_style36 .payHow .pay_con{padding: 10px; background: #FAFAFA}
@media screen and (max-width:525px) {
	.t_style36 .payment{font-size: 20px}
	.t_style36 .coupon{width: calc(100% - 20px); margin: 4px 0}
}

/* t_style37 */
.t_style37{width: 100%; margin-bottom: 40px; border-top: 2px solid #193b6a}
.t_style37 th{padding: 10px; border-bottom: 1px solid #d3d3d3; color: #193b6a; font-size: 15px; font-weight: 700; text-align: center; word-break: keep-all; background: #f9f9f9}
.t_style37 td{padding: 10px; border-bottom: 1px solid #d3d3d3; color: #4c4c4c; font-size: 14px; text-align: center; word-break: keep-all; font-family: 'Nanum Gothic', '나눔고딕'; letter-spacing: -1px}
.t_style37 td a:hover{text-decoration: underline}
.t_style37 .tit{width: 350px; color: #193b6a; word-break: keep-all}
@media screen and (max-width:525px) {
	.t_style37.apply{padding-top: 10px; border-bottom: 1px solid #d3d3d3}
	.t_style37.apply tr{display: block}
	.t_style37.apply th{display: none}
	.t_style37.apply td{padding: 0; margin-bottom: 10px; border-bottom: 0; display: block}
	.t_style37.apply td:first-child{padding: 10px; border-bottom: 2px solid #193b6a}
}

/* t_style38 */
.t_style38{width: 100%; font-size: 16px; text-align: center}
.t_style38 th{color: #212121; padding: 7px 0; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd;  border-right: 1px solid #bdbdbd; text-align: center; background-color: #eee;}
.t_style38 th:last-child{border-right: none;}
.t_style38 td{min-width: 120px; padding: 10px; border-top: 1px solid #bdbdbd; border-bottom: 1px solid #bdbdbd; border-right: 1px solid #bdbdbd; color: #777;}
.t_style38 td:last-child{border-right: none;}

@media screen and (max-width:767px){
	.t_style38{white-space: nowrap; overflow-x: auto}
}
